<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">{{ site.name }}</span>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <strong>{{ site.email }}</strong>
        <div>{{ site.locale }}</div>
      </div>

      <div class="footer-col footer-col-2 noselect">
        <a href="https://github.com/{{ site.github_username }}" rel=”noreferrer” target="_blank" title="GitHub"><i class="fa fa-lg fa-github-alt"></i></a>
        <a href="https://keybase.io/{{ site.keybase_username }}" rel=”noreferrer” target="_blank" title="Keybase"><i class="fa fa-lg fa-key"></i></a>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" rel=”noreferrer” target="_blank" title="linkedin"><i class="fa fa-lg fa-linkedin-square"></i></a>
        <a href="https://www.strava.com/athletes/{{ site.strava_username }}" rel=”noreferrer” target="_blank" title="Strava"><i class="fa fa-lg fa-bicycle"></i></a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
