/**
 * Site footer
 */
.site-footer {
  position:fixed;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: white;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .site-footer {
    text-align: center;
    height: 100px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col-3 {
    display: none;
  }
}

@include media-query($on-palm) {

  .site-footer {
    text-align: center;
    height: 100px;
  }

  .footer-col {
    width: 100%;
  }

  .footer-col-3 {
    display: none;
  }
}
