/**
 * Site footer
 */

footer {
  background-color: white;
  border-top: 1px solid $grey-color-light;
  bottom: 0px;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  border-bottom: 1rem solid $grey-color-dark;

  hr {
    border-top: 1px solid $grey-color-light;
    width: 225px;
    margin: 0 auto;
  }
}

.footer-info {
  margin-bottom: 1rem;

  .footer-heading {
    font-size: 28px;
    margin-bottom: 0;
  }
}

.footer-links {
  padding: 1rem 0;
}

.four-oh-four {
  font-size: $base-font-size * 10;
  bottom: 135px;
}
